{{>nav-index}}
{{>messages}}
<div class="index-container">
    {{>jumbo}}
    <div>
        <h2 class="p-index-text">
            Consigue estrellas. Logra tus objetivos.
        </h2>
    </div>
    <div class="index-star">
        <img src="/images/star.png" alt="star-home">
    </div>
</div>
{{>footer}}
