{{!-- {{>nav}} --}}

{{>jumbo}}
<div class="index-container">
    <div>
        <h2 class="p-index-text">
            Consigue estrellas para lograr tus objetivos
        </h2>
    </div>
    <div class="new-mission-container">
        <a href="/new-mission" class="custom-btn new-mission-btn new-mission-btn-text">
            <p class="btn-text new-mission-btn-text">
                Crear nueva misión
            </p>
        </a>
    </div>
    <div class="my-missions-container">
        <a href="/missions" class="missions-btn new-mission-btn-text custom-btn">
            <p class="btn-text">
                Ver misiones
            </p>
        </a>
    </div>

    <div class="index-star">
        <img src="images/star.png" alt="star-home">
    </div>
</div>

{{>footer}}
