{{>nav}}
<div class="missions-jumbo">
    {{>jumbo}}
</div>
{{>messages}}
<div class="missions">
    {{#each missions as |mission|}}
        {{> mission-partial mission}}
    {{/each}}
</div>
{{>footer}}