{{>nav}}
{{>messages}}
<div class="missions">
    {{#each missions as |missionItem|}}
        {{> mission missionItem}}
    {{/each}}
    {{#each editorMissions as |missionItem|}}
        {{> editor-mission missionItem}}
    {{/each}}
    {{#each observerMissions as |missionItem|}}
        {{> observer-mission missionItem}}
    {{/each}}
    <div class="missions-new-mission">
        <a href="/new-mission">Crear misión nueva</a>
    </div>
</div>
{{>footer}}