{{>nav}}
{{>messages}}
<div class="missions">
    {{#each missions as |missionItem|}}
        {{> mission missionItem}}
    {{/each}}
    {{#each viewerMissions as |missionItem|}}
        {{> viewer-mission missionItem}}
    {{/each}}
    <div class="missions-new-mission">
        <a href="/new-mission">Crear misión nueva</a>
    </div>
</div>
{{>footer}}