{{>nav-new-mission}}
{{!-- {{>jumbo}} --}}
{{>messages}}
    <div class="form-container">
        <form action="/new-mission" method="POST">
            <div class="new-mission-title">
                <div class="form-title">
                    <label for="title">
                        <h1 class="new-mission-form-title">
                            Nueva misión
                        </h1>
                    </label>
                </div>
            </div>
            <div>
                <input type="text" name="title" id="title" placeholder="Título" autofocus required>
            </div>
            <div class="new-mission-desc input-desc">
                <textarea name="desc" id="desc" value="desc" placeholder="Descripción"></textarea>
            </div>
            <div class="new-mission-missioner-container">
                <div class="missioners" id="missioners">
                    <div id="missioner" class="new-mission-missioner">
                        <input type="text" id="input-missioner" name="missioners" placeholder="Misionero" required>
                        <i class="fa fa-trash remove-missioner" aria-hidden="true" id="remove-missioner" onclick="removeMissioner(event)"></i>
                    </div>
                </div>
                <div class="add-missioner" id="add-missioner">
                    <a>
                        Añadir misionero
                    </a>
                </div>
            </div>
            <div class="target-container">
                <label for="input-target">
                    Objetivo:
                </label>
                <div class="target" id="target">
                    <input type="number" min="1" max="100" name="target" id="input-target" class="input-target" value=10 placeholder="10">
                </div>
            </div>
            <div class="date-container">
                <label for="input-date">
                    Fecha límite
                </label>
                <div class="date" id="date">
                    <input type="date" name="date" id="input-date" class="input-date">
                </div>
            </div>

            <div class="create-mission">
                <button type="submit" class="missions-btn new-mission-btn-text custom-btn">
                    <p class="btn-text">
                        Crear misión
                    </p>
                </button>
            </div>
        </form>
    </div>
{{>footer}}
<script src="./new-mission.js"></script>

