{{>nav}}
{{>jumbo}}
<div class="no-missions">
    <p>
        No tienes misiones.
    </p>
    <p class="link-new-mission">
        <a href="/new-mission">
         Crea una
        </a>
    </p>
</div>{{>footer}}