

<div class="footer-container">
    <div class="footer">
        <i class="fas fa-envelope-square sobre"></i>
        <a href="mailto:carlesneri@hotmail.com">carlesneri@hotmail.com</a>
    </div>
</div>