<div class="nav">
    {{#if user}}
        {{>nav-user}}
    {{else}}
        <div class="nav-item login">
            <img src="images/star@0,1x.png" alt="mission star 0,1">
            <a href="/login">
                login
            </a>
        </div>
        <div class="nav-item register">
            <img src="images/star@0,1x.png" alt="mission star 0,1">
            <a href="/register">
                registro
            </a>
        </div>
    {{/if}}
</div>