<link rel="stylesheet" href="./nav-user.css">
<div class="user-nav">
    <div class="nav-item user-name">
        <a href="/missions">
            {{user.name}}
        </a>
        <i class="fas fa-caret-down custom-icon" id="downLinksArrow"></i>
    </div>
    <div class="user-links" id="user-links">
        <div class="nav-item new-mission">
            <a href="/new-mission">
                nueva misión
            </a>
        </div>
        <div class="nav-item logout">
            <a href="/logout">
                cerrar sesión
            </a>
        </div>
        <div class="nav-item ">
            <a href="/profile">
                mi cuenta
            </a>
        </div>
        {{!-- <div class="nav-item ">
            <a onclick="removeUserHandler('{{user._id}}')">
                eliminar cuenta
            </a>
        </div> --}}
    </div>
</div>
