<div class="nav">
    <div class="nav-logo">
        <a href="/">
            <div class="text-logo">let'Star</div>
        </a>
    </div>
        <div class="nav-links">
            {{#if user}}
            <div class="user-nav">
                <div class="nav-item user-name">
                    <a href="/missions">
                        {{user.name}}
                    </a>
                    <i class="fas fa-caret-down custom-icon" id="downLinksArrow"></i>
                </div>
                <div class="user-links" id="user-links">
                    <div class="nav-item new-mission">
                        {{!-- <img src="/images/star@0,1x.png" alt="mission star 0,1"> --}}
                        <a href="/new-mission">
                            nueva misión
                        </a>
                    </div>
                    <div class="nav-item logout">
                        {{!-- <img src="/images/star@0,1x.png" alt="mission star 0,1"> --}}
                        <a href="/logout">
                            cerrar sesión
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="nav-item login">
                {{!-- <img src="/images/star@0,1x.png" alt="mission star 0,1"> --}}
                <a href="/login">
                    login
                </a>
            </div>
            <div class="nav-item register">
                {{!-- <img src="/images/star@0,1x.png" alt="mission star 0,1"> --}}
                <a href="/register">
                    registro
                </a>
            </div>
        {{/if}}
    </div>
</div>
<script src="nav.js"></script>