<div class="nav">
    <div class="nav-logo">
        <a href="/">
            <div class="text-logo">let'Star</div>
        </a>
    </div>
    <div class="nav-links">
        {{#if user}}
            {{>nav-user}}
        {{else}}
            <div class="nav-item login">
                <a href="/login">
                    login
                </a>
            </div>
            <div class="nav-item register">
                <a href="/register">
                    registro
                </a>
            </div>
        {{/if}}
    </div>
</div>