
.jumbo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.text-logo{
    /* margin: 0.5em; */
    font-size: 5em;
    text-shadow: 1px 2px var(--light-color)
}
