:root{
    --dark-color: hsl(191, 100%, 25%);
    --light-color: hsl(191, 100%, 45%);
    --lighter-color: #00D0FF;
    --bg-color: #FFA04D;
    --bg-mission-color: hsl(28, 100%, 63%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script';
    color: var(--dark-color);
    font-size: 1rem;
}
div{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-height: 100vh;
    padding: 0 0 5em 0;
    background: var(--bg-color);
}
a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
} 
a:hover{
    text-decoration: none;
    color: var(--dark-color);
    text-shadow: 1px 1px var(--light-color);
}
.custom-btn p{
    color: var(--dark-color);
    padding: 0;
    margin: 0;
}
.custom-btn:hover{
    position: relative;
    text-decoration: none;
    color: var(--dark-color);
}
.custom-btn:hover p{
    text-shadow: 1px 1px var(--light-color);
}
.btn-text{
    font-weight: 600;
}
.custom-btn:hover .btn-text{
    position: relative;
    top: -1px;
    left: -1px;
}
.new-mission-btn, .custom-btn{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: .33em;
    padding: 0.66em;
    text-decoration: none;
    border: 2px solid var(--lighter-color);
}
.empty-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}
.empty-button:hover {
    text-shadow: 1px 1px var(--light-color);
}
.form-container{
    max-width: 20em;
    margin: 3em auto;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
input, textarea{
    width: 100%;
    color: var(--light-color);
    outline: none;
    margin: 10px;
    border: none;
    border-radius: .33em;
    padding: .66em;
    text-decoration: none;
    border: 2px solid var(--lighter-color);
    background: white;
}
input::placeholder, textarea::placeholder{
    color: var(--light-color);
}
.custom-icon:hover{
    text-shadow: 1px 1px var(--light-color);
    cursor: pointer;
}
.error-msg{
    color: red
}
.login-register-jumbo{
    margin-top: 3em;
}
