.nav{
    display: flex;
    justify-content: flex-end;
    padding: .7em;
}
.nav-item{
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item img{
    width: 1em;
    margin: 0;
    padding: 0;
}
.user-name {
    font-size: 1.5em;
}