.new-mission{
    margin: 3em auto;
}
.create-mission, .add-missioner{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* .new-mission-container{
    width: 100%;
    display: flex;
    justify-content: center;
} */
.new-mission-form-title{
    font-size: 1.7em;
}
.my-missions-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.missions-btn{
    cursor: pointer;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 3em;
    text-decoration: none;
    border: 2px solid var(--lighter-color);
    background: white;
}
.my-missions-container a{
    font-size: 1em;
}
.new-mission-title{
    text-align: center;
}
.form-title {
    font-size: 2em;
}
.new-mission-btn-text{
    width: 100%;
    font-size: 1.3em;
}
.input-desc{
    width: 100%;
}
.input-desc textarea{
    resize: none;
    overflow: hidden;
}
.new-mission-missioner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-mission-missioner-container .missioners{
    padding: 0;
}
.add-missioner{
    text-align: center;
}
.target input{
    width: 5em;
}
.target-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.remove-missioner{
    cursor: pointer;
}
.missioners-name{
    text-align: center;
}
.date-container label{
    display: block;
    width: 100%;
    text-align: center;
}
.date-container .date{
    padding: 0;
}
.input-date {
    width: 10em;
}