.create-mission, .add-missioner{
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
}
.new-mission-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.new-mission-form-title{
    font-size: 1.7em;
}
.my-missions-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.missions-btn{
    cursor: pointer;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 3em;
    /* padding: 1em; */
    text-decoration: none;
    border: 2px solid var(--lighter-color);
    background: white;
}
.my-missions-container a{
    font-size: 1em;
}
.new-mission-title{
    display: flex;
    flex-direction: column;
}
.form-title {
    font-size: 2em;
}
.new-mission-btn-text{
    font-size: 1.3em;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.form-container{
    max-width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, textarea{
    width: 100%;
    color: var(--light-color);
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 3em;
    padding: 1em;
    text-decoration: none;
    border: 2px solid var(--lighter-color);
    background: white;
}
input::placeholder, textarea::placeholder{
    color: var(--light-color);
}
.new-mission-missioner-container{
    display: block;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}
.new-mission-missioner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-mission-missioner input{
    /* width: 75%; */
}
.new-mission-missioner i{
    /* width: 25%; */
}
/* .missioner{
    width: 75%;
}
.trash-container{
    width: 25%;
} */
/* a:hover{
    color: var(--light-color);
} */
.input-target{
    width: 3em;
}
.target-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.remove-missioner{
    cursor: pointer;
}
.missioners-name{
    text-align: center;
}