.swal-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.swal-input-group{
    display: flex;
    align-items: center;
}
.swal-password input{
    max-width: 13em;
}
.swal-title{
    margin: 1em;
}