<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="► Web app para gestionar objetivos y metas. Establece objetivos. Consigue estrellas hasta lograrlos. Motiva a tus hijos para alcanzar metas. Comparte misiones con otros usuarios.">
    <link rel="canonical" href="https://letstar.site" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/nav.css">
    <link rel="stylesheet" type="text/css" href="./nav-user.css">
    <link rel="stylesheet" type="text/css" href="/jumbo.css">
    <link rel="stylesheet" type="text/css" href="registerForm.css">
    <link rel="stylesheet" type="text/css" href="/new-mission.css">
    <link rel="stylesheet" type="text/css" href="/mission.css">
    <link rel="stylesheet" type="text/css" href="/missions.css">
    <link rel="stylesheet" type="text/css" href="/no-missions.css">
    <link rel="stylesheet" type="text/css" href="registerForm.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" type="text/css" href="/messages.css">
    <link rel="stylesheet" type="text/css" href="/profile.css">
    <link rel="stylesheet" type="text/css" href="/nav-index.css">
    <link rel="manifest" href="manifest.json"/>
    <title>Let'Star. Comparte objetivos y metas.</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M7RBKCJEX2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M7RBKCJEX2');
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>